<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="APP_NAME" source="spring.application.name" defaultValue="recon-control"/>

    <springProfile name="!docker">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level [%thread] %logger{36} [corr:%X{correlationId:-n/a}] - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="docker">
        <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp>
                        <fieldName>@timestamp</fieldName>
                    </timestamp>
                    <pattern>
                        <pattern>
                            {
                              "service":"${APP_NAME}",
                              "level":"%level",
                              "logger":"%logger",
                              "thread":"%thread",
                              "message":"%message",
                              "correlationId":"%mdc{correlationId}",
                              "exception":"%exception{5}"
                            }
                        </pattern>
                    </pattern>
                    <mdc/>
                </providers>
            </encoder>
        </appender>

        <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/var/log/recon-control/application.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>/var/log/recon-control/application.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxFileSize>10MB</maxFileSize>
                <maxHistory>7</maxHistory>
                <totalSizeCap>200MB</totalSizeCap>
            </rollingPolicy>
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp>
                        <fieldName>@timestamp</fieldName>
                    </timestamp>
                    <pattern>
                        <pattern>
                            {
                              "service":"${APP_NAME}",
                              "level":"%level",
                              "logger":"%logger",
                              "thread":"%thread",
                              "message":"%message",
                              "correlationId":"%mdc{correlationId}",
                              "exception":"%exception{5}"
                            }
                        </pattern>
                    </pattern>
                    <mdc/>
                </providers>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="JSON_CONSOLE"/>
            <appender-ref ref="JSON_FILE"/>
        </root>
    </springProfile>
</configuration>
